# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Swap
.swp
.swo
#
recentf
tramp 
history
%backup%~

#Custom
custom.el

#Dirs

/elpa 
/eshell
/straight 
/eln-cache
/auto-save-list
